<div class="container__big-card">
  <div class="big-card_photo">
    <img src="https://blog.codedimension.com.br/images/posts/angular-19-blog-post-banner.png"
    alt=""
    height="200px"
    srcset="">
  </div>
  <div class="big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="#">Saiu a nova versão do Angular
      A nova versão do Angular, a versão 19, traz um foco aprimorado em desempenho,
      experiência do desenvolvedor e funcionalidades para aplicações web modernas.
      A versão inclui melhorias em reatividade, gerenciamento de estado e componentes,
      além de novos recursos como a hidratação incremental e a configuração de rotas do
      lado do servidor.
      </a>
    </p>
  </div>
</div>
